<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicTacToe"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5528158197168162~6982502590" />

        <activity
            android:name=".activity.StatisticActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileEditActivity"
            android:exported="false"
            android:label="@string/title_activity_profile_edit"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TicTacToe.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RandomPlayersActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnlineCodeGeneratorActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnlinePlayingActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SinglePlayingBoard"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MultiPlayerModeActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayerChoiceActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Activity4_4"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>